<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Material Design Bootstrap</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="~/landing/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="~/landing/css/style_error.css" rel="stylesheet">
    <style>
    html,
    body,
    header,
    .view {
      height: 100%;
    }
    @@media (max-width: 740px) {
      html,
      body,
      header,
      .view {
        height: 815px;
      }
    }
    @@media (min-width: 800px) and (max-width: 850px) {
      html,
      body,
      header,
      .view {
        height: 600px;
      }
    }
    </style>
</head>
<body>
    <header>
        @RenderBody()
    </header>
    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="~/landing/js/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="~/landing/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="~/landing/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="~/landing/js/js_error.js"></script>
</body>
</html>
