
@{
    ViewData["Title"] = "Bestphonefarm - dịch vụ giải pháp công nghệ 4.0";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Navigation & Intro -->
<header>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">

        <div class="container">

            <a class="navbar-brand" href="#">Trang chủ</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">

                <span class="navbar-toggler-icon"></span>

            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

                <ul class="navbar-nav mr-auto smooth-scroll">

                    <li class="nav-item">

                        <a class="nav-link text-uppercase" href="#home">HOME<span class="sr-only">(current)</span></a>

                    </li>

                    <li class="nav-item">

                        <a class="nav-link text-uppercase" href="#about" data-offset="100">GIỚI THIỆU </a>

                    </li>

                    <li class="nav-item">

                        <a class="nav-link text-uppercase" href="#login" data-offset="20">DỊCH VỤ</a>

                    </li>

                    <li class="nav-item">

                        <a class="nav-link text-uppercase" href="#ads" data-offset="100">ƯU ĐÃI</a>

                    </li>

                    <li class="nav-item">

                        <a class="nav-link text-uppercase" href="#pricing" data-offset="100">BẢNG GIÁ</a>

                    </li>

                </ul>

                <!-- Social Icon  -->
                <ul class="navbar-nav nav-flex-icons">

                    <li class="nav-item">

                        <a class="nav-link" href="https://www.facebook.com/bestphonebox/"><i class="fab fa-facebook-f light-green-text-2"></i></a>

                    </li>

                    <li class="nav-item">

                        <a class="nav-link" href="https://www.youtube.com/channel/UCARmOYl31zy9AKCLakdUxrQ "><i class="fab fa-youtube light-green-text-2"></i></a>

                    </li>

                    <li class="nav-item">

                        <a class="nav-link" href="https://www.instagram.com/box_phone_farm_hcm/"><i class="fab fa-instagram light-green-text-2"></i></a>

                    </li>
                    <li class="nav-item">

                        <a class="nav-link" href="https://x.com/Bestmoonvietnam"><i class="fa-brands fa-x-twitter light-green-text-2"></i></a>

                    </li>
                </ul>

            </div>

        </div>

    </nav>

    <!-- Video -->
    <section class="view intro-section" id="home">

        <video class="video-intro"
               poster="https://mdbootstrap.com/img/Photos/Horizontal/Things/full%20page/img%20%287%29.jpg" playsinline autoplay
               muted loop>

            <source src="~/image/3129671-uhd_3840_2160_30fps.mp4" type="video/mp4">

        </video>

        <div class="mask rgba-gradient">

            <div class="container h-100 d-flex justify-content-center align-items-center">

                <div class="row pt-5 mt-3">

                    <div class="col-md-12 white-text text-center smooth-scroll">

                        <div class="white-text text-center wow fadeInUp">

                            <h3 class="display-3 font-weight-bold text-uppercase">BESTMOON</h3>
                            <h4 class="mb-5 text-uppercase">
                                Chuyên cung cấp
                                <span id="chatText" class="typing-effect font-weight-bold">DỊCH VỤ</span>
                                <span>DIGITAL 4.0</spa>
                            </h4>

                            <a class="btn btn-outline-white btn-rounded wow fadeInUp" data-wow-delay="0.5s" href="https://dichvu.bestmoon.vn/login"
                               data-offset="100"> <span>ĐĂNG NHẬP</span> </a>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </section>

</header>
<!-- Navigation & Intro -->
<!-- Main layout -->
<main>
    <!-- Third container -->
    <div class="container">

        <!-- Second section -->
        <section id="about" class="section feature-box pt-4 pb-5">

            <!-- Secion heading -->
            <h2 class="blue-text text-center text-uppercase font-weight-bold my-5 pb-3 pt-4 ">
                Tại đây <span id="typingEffect" class="green-text">chúng tôi chuyên cung cấp</span> <i class="fas fa-briefcase"></i>
            </h2>

            <!-- First row -->
            <div class="row text-center" data-wow-delay="0.2s">

                <!-- First column -->
                <div class="col-md-3 mb-5 pt-1 wow fadeInLeft" data-wow-delay="0.2s">

                    <!-- Panel -->
                    <div class="card card-body hoverable">

                        <i class="fas fa-laptop fa-3x mb-4 grey-text" aria-hidden="true"></i>

                        <h5 class="feature-title mb-4 text-uppercase font-weight-bold text-primary">BOXPHONE</h5>

                        <span class="dark-text" style="font-size: .875rem;">Công cụ đẩy mạnh SEO , marketing dành cho những khách hàng muốn phát triển tại lĩnh vực MMO,Affiliate...</span>

                        <a href="#" class="font-weight-bold mt-2" style="font-size: .825rem;">Xem thêm...</a>
                    </div>

                    <!-- Panel -->
                </div>
                <!-- First column -->
                <!-- Second column -->
                <div class="col-md-3 mb-5 wow fadeInLeft" data-wow-delay="0.2s">

                    <!-- Panel -->
                    <div class="card card-body hoverable">

                        <i class="far fa-newspaper grey-text fa-3x mb-4" aria-hidden="true"></i>

                        <h5 class="feature-title mb-4 text-uppercase font-weight-bold text-primary">PROXY</h5>

                        <span class="dark-text" style="font-size: .875rem;">Với tốc độ và băng thông được đẩy lên tối đa , proxy của chúng tôi sẽ đáp ứng mọi nhu cầu đến quý khách hàng</span>
                        <a href="#" class="font-weight-bold mt-2" style="font-size: .825rem;">Xem thêm...</a>

                    </div>

                    <!-- Panel -->
                </div>

                <!-- Second column -->
                <!-- Third column -->
                <div class="col-md-3 mb-5 wow fadeInRight" data-wow-delay="0.2s">

                    <!-- Panel -->
                    <div class="card card-body hoverable">

                        <i class="fas fa-pencil-alt grey-text fa-3x mb-4" aria-hidden="true"></i>

                        <h5 class="feature-title mb-4 text-uppercase font-weight-bold text-primary">TOOL</h5>

                        <span class="dark-text" style="font-size: .875rem;">Các tool Laixi,Best-Total-Controller là phương án tối ưu nhất để tiết kiệm thời gian và chi phí cho khách hàng trong lĩnh vực MMO</span>
                        <a href="#" class="font-weight-bold mt-2" style="font-size: .825rem;">Xem thêm...</a>

                    </div>
                    <!-- Panel -->

                </div>
                <!-- Third column -->
                <!-- Fourth column -->
                <div class="col-md-3 mb-5 wow fadeInRight" data-wow-delay="0.2s">

                    <!-- Panel -->
                    <div class="card card-body hoverable">

                        <i class="fas fa-camera-retro grey-text fa-3x mb-4" aria-hidden="true"></i>

                        <h5 class="feature-title mb-4 text-uppercase font-weight-bold text-primary">Tài khoản</h5>

                        <span class="dark-text" style="font-size: .875rem;">Chúng tôi cung cấp các loại tài khoản Telegram,Fb,Zalo,Shopee... phục vụ cho từng nhu cầu của quý khách hàng</span>
                        <a href="#" class="font-weight-bold mt-2" style="font-size: .825rem;">Xem thêm...</a>

                    </div>
                    <!-- Panel -->

                </div>
                <!-- Fourth column -->

            </div>
            <!-- First row -->

        </section>
        <!-- Second section -->

    </div>

    <!-- GIỚI THIỆU GIAO DIỆN -->
    <div class="container-fluid pb-5" style="background-color: #0139a8" id="login">
        <div class="container py-4 ">

            <!--Section: Download-->
            <section>

                <!-- First row -->
                <div class="row my-4 pt-5 wow fadeIn mr-2" data-wow-delay="0.2s">
                    <div class="col-lg-7 col-md-12 mb-4 text-center image-container">
                        <img src="~/image/whitepage.jpg" alt="" class="img-fluid z-depth-2 rounded image-1">
                        <img src="~/image/blackpage.jpg" alt="" class="img-fluid z-depth-2 rounded image-2">
                    </div>
                    <!-- First row -->
                    <div class="col-lg-5 col-md-12 mb-4 text-left justify-content-end text-lg-end">

                        <!--Section heading-->
                        <h2 class="mb-3 my-5 white-text wow fadeInRight" data-wow-delay="0.2s">
                            <strong class="font-weight-bold ml-5 text-uppercase">Giao diện thân thiện</strong>
                        </h2>

                        <p class="white-text ml-5 wow fadeInRight">
                            Với nhiều lựa chọn do chính tay bạn tự tinh chỉnh giao diện .Giao diện website của chúng tôi
                            dễ dàng sử dụng , thời gian tìm hiểu cực ngắn .v.v. ngay cả khi bạn chỉ mới vào  tham gia web lần đầu
                        </p>
                        <a href="https://dichvu.bestmoon.vn/login" class="btn btn-white btn-rounded blue-text font-weight-bold ml-0 wow fadeInRight ml-5" data-wow-delay="0.2s">
                            <i class="fas fa-home pr-2" aria-hidden="true"></i> Đăng nhập
                        </a>
                        <a href="https://dichvu.bestmoon.vn/register" class="btn btn-success btn-rounded font-weight-bold wow fadeInRight" data-wow-delay="0.2s">
                            <i class="fas fa-user-plus pr-2" aria-hidden="true"></i> Đăng kí
                        </a>
                    </div>
                    <!-- /.Second column -->

                </div>

                <!-- /.First row -->

            </section>
            <!--/Section: Download-->

        </div>
    </div>
    <!-- GIỚI THIỆU GIAO DIỆN -->
    <!-- GIỚI THIỆU NHÂN VIÊN -->
    <div class="container">

        <!-- Section: About -->
        <section id="about" class="section mt-5 mb-5">

            <!-- Secion heading -->
            <h2 class="text-primary text-center text-uppercase font-weight-bold my-5 pb-3 pt-5 wow fadeIn"
                data-wow-delay="0.5s">
                Đội ngũ nhân viên<i class="fas fa-users"></i>
            </h2>

            <!-- First row -->
            <div class="row features-big wow fadeIn" data-wow-delay="0.4s">

                <!-- First column -->
                <div class="col-md-4 mb-5">

                    <!-- Title -->
                    <h5 class="feature-title font-weight-bold mb-1 text-uppercase blue-text">Kinh nghiệm <i class="fas fa-brain"></i></h5>

                    <!-- Text -->
                    <p class="grey-text">Chúng tôi cam kết cung cấp sản phẩm và dịch vụ đạt chuẩn cao nhất, đảm bảo sự hài lòng và tin cậy từ mọi đối tác.</p>

                </div>
                <!-- First column -->
                <!-- Second column -->
                <div class="col-md-4 mb-5">

                    <!-- Title -->
                    <h5 class="feature-title font-weight-bold mb-1 text-uppercase blue-text">
                        Uy tín <i class="fas fa-puzzle-piece"></i>
                    </h5>

                    <!-- Text -->
                    <p class="grey-text">
                        Uy tín của chúng tôi được khẳng định qua chất lượng sản phẩm , đảm bảo tính minh bạch trong mọi giao dịch và dịch vụ mà chúng tôi cung cấp.
                    </p>

                </div>
                <!-- Second column -->
                <!-- Third column -->
                <div class="col-md-4 mb-5">

                    <!-- Title -->
                    <h5 class="feature-title font-weight-bold mb-1 text-uppercase blue-text">
                        Đầy sáng tạo <i class="fas fa-lightbulb"></i>
                    </h5>

                    <!-- Text -->
                    <p class="grey-text">
                        Sáng tạo là động lực phát triển, chúng tôi không ngừng tìm kiếm và áp dụng những giải pháp mới để cải tiến và hoàn thiện.

                    </p>

                </div>
                <!-- Third column -->

            </div>
            <!-- First row -->

        </section>
        <!-- Section About -->

    </div>
    <!-- GIỚI THIỆU NHÂN VIÊN -->
    <!-- GIỚI THIỆU TÍNH NĂNG -->
    <div class="container-fluid" style="background-color: #0139a8; min-height:230px;">
        <!-- First row -->
        <div class="container wow fadeInLeft" data-wow-delay="1.5">

            <div class="row ">
                <div class="col-lg-2 col-md-6 text-center pt-4 fadeDown">

                    <div class="icon-area">
                        <a style="background-color: #0a32e6;"
                           class="btn-floating btn-lg darken-1 p-4 mb-3 d-inline-flex justify-content-center align-items-center">

                            <i class="fab fa-facebook-f d-flex justify-content-center"></i>
                        </a>
                    </div>

                </div>
                <div class="col-lg-2 col-md-6 text-center pt-4 btn-z-left fadeAll">

                    <div class="icon-area">
                        <a style="background-color: #0ad11a;"
                           class="btn-floating  btn-lg darken-1 p-4 mb-3 d-inline-flex justify-content-center align-items-center ">
                            <i class="fa-brands fa-whatsapp d-flex justify-content-center"></i>

                        </a>
                    </div>

                </div>
                <div class="col-lg-2 col-md-6 text-center pt-4 btn-z-right fadeDown">

                    <div class="icon-area">
                        <a style="background-color: #0579e6;"
                           class="btn-floating btn-lg darken-1 p-4 mb-3 d-inline-flex justify-content-center align-items-center ">
                            <i class="fa-brands fa-twitter d-flex justify-content-center"></i>

                        </a>
                    </div>

                </div>
                <div class="col-lg-2 col-md-6 text-center pt-4  fadeAll">

                    <div class="icon-area">
                        <a style="background-color: #e60505;"
                           class="btn-floating  btn-lg darken-1 p-4 mb-3 d-inline-flex justify-content-center align-items-center">

                            <i class="fab fa-youtube d-flex justify-content-center"></i>

                        </a>
                    </div>

                </div>
                <div class="col-lg-2 col-md-6 text-center pt-4 btn-z-right fadeDown">

                    <div class="icon-area">
                        <a style="background-color: #f032b7;"
                           class="btn-floating btn-lg darken-1 p-4 mb-3 d-inline-flex justify-content-center align-items-center">

                            <i class="fab fa-instagram d-flex justify-content-center"></i>

                        </a>
                    </div>

                </div>
                <div class="col-lg-2 col-md-6 text-center pt-4 btn-z-left  fadeAll">

                    <div class="icon-area">
                        <a style="background-color: #fa0a16;"
                           class="btn-floating btn-lg darken-1 p-4 mb-3 d-inline-flex justify-content-center align-items-center">

                            <i class="fab fa-pinterest-p d-flex justify-content-center"></i>

                        </a>
                    </div>

                </div>
            </div>

            <div class="row ">

                <div class="col-lg-2 col-md-6 text-center pt-4 btn-z-left fadeAll">

                    <div class="icon-area">
                        <a style="background-color: rgb(2, 0, 0);"
                           class="btn-floating btn-lg darken-1 p-4 mb-3 d-inline-flex justify-content-center align-items-center">

                            <i class="fa-brands fa-tiktok d-flex justify-content-center"></i>
                        </a>
                    </div>

                </div>
                <div class="col-lg-2 col-md-6 text-center pt-4 btn-z-right fadeDown">

                    <div class="icon-area">
                        <a style="background-color: #2e9904;"
                           class="btn-floating btn-lg darken-1 p-4 mb-3 d-inline-flex justify-content-center align-items-center ">
                            <i class="fa-brands fa-android d-flex justify-content-center"></i>

                        </a>
                    </div>

                </div>
                <div class="col-lg-2 col-md-6 text-center pt-4 fadeAll">

                    <div class="icon-area">
                        <a style="background-color: #0482bd;"
                           class="btn-floating btn-lg darken-1 p-4 mb-3 d-inline-flex justify-content-center align-items-center ">
                            <i class="fab fa-telegram d-flex justify-content-center"></i>

                        </a>
                    </div>

                </div>
                <div class="col-lg-2 col-md-6 text-center pt-4 btn-z-center fadeDown">

                    <div class="icon-area">
                        <a style="background-color: #29bd04;"
                           class="btn-floating btn-lg darken-1 p-4 mb-3 d-inline-flex justify-content-center align-items-center">
                            <i class="fa-brands fa-google-play d-flex justify-content-center"></i>

                        </a>
                    </div>

                </div>
                <div class="col-lg-2 col-md-6 text-center pt-4 btn-z-right fadeAll">

                    <div class="icon-area">
                        <a style="background-color: #002cf0;"
                           class="btn-floating btn-lg darken-1 p-4 mb-3 d-inline-flex justify-content-center align-items-center">
                            <i class="fa-brands fa-google d-flex justify-content-center"></i>

                        </a>
                    </div>

                </div>
                <div class="col-lg-2 col-md-6 text-center pt-4 btn-z-right fadeAll">

                    <div class="icon-area">
                        <a style="background-color: #000000;"
                           class="btn-floating btn-lg darken-1 p-4 mb-3 d-inline-flex justify-content-center align-items-center">
                            <i class="fa-brands fa-x-twitter d-flex justify-content-center"></i>

                        </a>
                    </div>

                </div>
            </div>


        </div>
        <!-- First row -->

    </div>


    <!-- GIỚI THIỆU TÍNH NĂNG -->
    <!-- GIỚI THIỆU BOXPHONE -->
    <div class="container-fluid pb-5" style="background-color: #0139a8 " id="ads">
        <div class="container py-4 ">

            <section>
                <div class="col-12 text-center">
                    <h2 class="mb-3 my-5 white-text wow fadeInRight" data-wow-delay="0.5s">
                        <strong class="font-weight-bold ml-5">Hệ thống BOXPHONEFARM CLOUD lớn nhất tại VIỆT NAM</strong>
                    </h2>
                    <p class="text-white py-3 justify-content-center text-center wow fadeIn" data-wow-delay="1.5s">
                        Chuyên cung cấp đến quý khách hàng KHÔNG GIỚI HẠN số lượng box phone ,
                        hệ thống hỗ trợ điều hành box,cloud server và 1 số loại tool phục vụ chuyên sâu . Giúp tối ưu chi phí ,
                        tiết kiệm thời gian và công sức chỉ với vài cú nhấp chuột .Ngoài ra chúng tôi còn hỗ trợ sản xuất , lắp đặt ,bảo hành các loại phần mềm ,
                        phần cứng phục vụ cho các doanh nghiệp và cá nhân có nhu cầu
                    </p>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-12 my-3 wow fadeInLeft" data-wow-delay="0.5s">
                        <div class="view overlay zoom">
                            <img src="~/image/boxphone1.jpg" style="width:100%; height: 300px;" alt="" class="img-fluid z-depth-2 rounded border border-white">
                            <div class="mask flex-center waves-effect waves-light rgba-teal-light">
                                <button class="btn btn-outline-white btn-sm btn-rounded wow fadeInUp" data-wow-delay="0.5s">Liên hệ ngay</button>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-6 col-md-12 my-3 wow fadeInRight" data-wow-delay="0.5s">
                        <div class="view overlay zoom">
                            <img src="~/image/boxphone2.jpg" style="width:100%; height: 300px;" alt="" class="img-fluid z-depth-2 rounded border border-white">
                            <div class="mask flex-center waves-effect waves-light rgba-teal-light">
                                <button class="btn btn-outline-white btn-sm btn-rounded wow fadeInUp" data-wow-delay="0.5s">Liên hệ ngay</button>
                            </div>
                        </div>

                    </div>
                </div>

            </section>

        </div>
    </div>
    <!-- GIỚI THIỆU BOXPHONE -->
    <!-- KHÁM PHÁ BOXPHONE -->
    <div class="container">

        <!--Section: Menu intro-->
        <section id="intro" class="mt-3 mb-4">

            <!--Section heading-->
            <div class="row mt-5 mb-4">
                <div class="col-md-12 mb-3">
                    <div class="divider-new">
                        <h3 class="text-center text-primary text-uppercase font-weight-bold mr-3 ml-3 wow fadeIn" data-wow-delay="0.2s">Khám phá thêm về hệ thống boxphone farm</h3>
                    </div>
                </div>
            </div>

            <!--First row-->
            <div class="row smooth-scroll">

                <!--First column-->
                <div class="col-lg-6 col-md-12 text-primary wow fadeIn" data-wow-delay="0.4s">

                    <!--Title-->
                    <h4 class="mb-4 text-start font-weight-bold">Nếu bạn đang có nhu cầu tìm kiếm về :</h4>

                    <!--Description-->
                    <div class="green-text">
                        <p>&#x2713; Gia tăng tương tác trên các mạng xã hội</p>
                        <p>&#x2713; Tự động hóa các quy trình về điện thoại</p>
                        <p>&#x2713; Điều hành và quản lý hàng nghìn tài khoản cùng lúc</p>
                        <p>&#x2713; Làm việc kiếm tiền MMO</p>
                    </div>
                    <!--Menu button-->
                    <div class="text-start mb-2 mt-2">
                        <a href="#menu" data-offset="100" class="btn btn btn-outline-primary btn-rounded waves-effect">
                            <strong>Tìm hiểu thêm về Boxphonefarm</strong>
                        </a>
                    </div>

                </div>
                <!--/First column-->
                <!--Second column-->
                <div class="col-lg-5 ml-auto col-md-12 mb-5 wow fadeIn" data-wow-delay="0.4s">

                    <!--Image-->
                    <img src="~/image/boxphone3.jpg" alt="" class="z-depth-0 img-fluid">

                </div>
                <!--/Second column-->

            </div>
            <!--/First row-->

        </section>
        <!--/Section: Menu intro-->

    </div>
    <!-- KHÁM PHÁ BOXPHONE -->
    <!-- BẢNG GIÁ BOXPHONE -->
    <div class="container-fluid">
        <div class="container">

            <!--Section: Pricing v.1-->
            <section id="pricing" class="pb-5 pt-1">

                <div class="row mt-5 mb-2">
                    <div class="col-md-12">
                        <div class="divider-new">
                            <h3 class="text-center text-primary text-uppercase font-weight-bold mr-3 ml-3 wow fadeIn" data-wow-delay="0.2s">Tham khảo thêm về giá</h3>
                        </div>
                    </div>
                </div>


                <!--Section description-->
                <h6 class="text-center w-responsive mx-auto my-5 grey-text wow fadeIn" data-wow-delay="1.5s">
                    <i class="fas fa-quote-left" aria-hidden="true"></i>
                    <em>
                        Giá sẽ khác nhau khi bạn lựa chọn các sản phẩm có model khác nhau .
                        Bảng giá sau chỉ mang tính chất tham khảo giá dành cho khách hàng mới.
                        Đối với khách hàng thường xuyên, chúng tôi luôn có những ưu đãi tốt nhất
                    </em>
                    <i class="fas fa-quote-right" aria-hidden="true"></i></h3>
                    <!--Grid row-->
                    <div class="row wow fadeInRight" data-wow-delay="0.5s">

                        <!--Grid column-->
                        <div class="col-lg-4 col-md-12 mb-4">

                            <!--Pricing card-->
                            <div class="card pricing-card ">
                                <!-- Price -->
                                <div class="price header white-text blue rounded-top">
                                    <h2 style="font-size: 50px;" class="p-5 price-tag">5.400.000</h2>
                                    <div class="version">
                                        <h5 class="mb-0">BOXPHONE CƠ BẢN</h5>
                                    </div>
                                </div>

                                <!--Features-->
                                <div class="card-body striped darker-striped">
                                    <ul>
                                        <li>
                                            <p class="mt-1 "><i class="fas fa-check mr-2"></i> Số lượng : 10 phone</p>
                                        </li>
                                        <li>
                                            <p class="mt-1 font-weight-bold text-success"><i class="fas fa-check mr-2"></i>J6-A6/7/8-N5</p>
                                        </li>
                                        <li>
                                            <p><i class="fas fa-check mr-2"></i> Chip Exynos</p>
                                        </li>
                                        <li>
                                            <p><i class="fas fa-check mr-2"></i> 24h hỗ trợ cài đặt</p>
                                        </li>
                                        <li>
                                            <p><i class="fas fa-check mr-2"></i> Bảo hành đổi trả trong ngày</p>
                                        </li>

                                    </ul>

                                    <button class="btn btn-blue btn-rounded mb-3">Buy now</button>
                                </div>
                                <!--Features-->

                            </div>
                            <!--Pricing card-->

                        </div>
                        <!--Grid column-->
                        <!--Grid column-->
                        <div class="col-lg-4 col-md-12 mb-4">

                            <!--Pricing card-->
                            <div class="card pricing-card ">
                                <!-- Price -->
                                <div class="price header white-text blue rounded-top">
                                    <h2 style="font-size: 50px;" class="p-5 price-tag">7.500.000</h2>
                                    <div class="version">
                                        <h5 class="mb-0">BOXPHONE NÂNG CAO</h5>
                                    </div>
                                </div>

                                <!--Features-->
                                <div class="card-body striped darker-striped">
                                    <ul>
                                        <li>
                                            <p class="mt-1"><i class="fas fa-check mr-2"></i> Số lượng : 10 phone</p>
                                        </li>
                                        <li>
                                            <p class="mt-1 text-success font-weight-bold"><i class="fas fa-check mr-2"></i>S8 - S8 Plus</p>
                                        </li>
                                        <li>
                                            <p><i class="fas fa-check mr-2"></i> Chip Exynos</p>
                                        </li>
                                        <li>
                                            <p><i class="fas fa-check mr-2"></i> 48h hỗ trợ cài đặt</p>
                                        </li>
                                        <li>
                                            <p><i class="fas fa-check mr-2"></i> Bảo hành đổi trả trong 2 ngày</p>
                                        </li>

                                    </ul>

                                    <button class="btn btn-blue btn-rounded mb-3">Buy now</button>
                                </div>
                                <!--Features-->

                            </div>
                            <!--Pricing card-->

                        </div>
                        <!--Grid column-->
                        <!--Grid column-->
                        <div class="col-lg-4 col-md-12 mb-4">

                            <!--Pricing card-->
                            <div class="card pricing-card ">
                                <!-- Price -->
                                <div class="price header white-text blue rounded-top">
                                    <h2 style="font-size: 50px;" class="p-5 price-tag">13.800.000</h2>
                                    <div class="version">
                                        <h5 class="mb-0">BOXPHONE PRO</h5>
                                    </div>
                                </div>

                                <!--Features-->
                                <div class="card-body striped darker-striped">
                                    <ul>
                                        <li>
                                            <p class="mt-1"><i class="fas fa-check mr-2"></i> Số lượng : 10 phone</p>
                                        </li>
                                        <li>
                                            <p class="mt-1 text-success font-weight-bold"><i class="fas fa-check mr-2"></i>S9</p>
                                        </li>
                                        <li>
                                            <p><i class="fas fa-check mr-2"></i> Chip Exynos</p>
                                        </li>
                                        <li>
                                            <p><i class="fas fa-check mr-2"></i> 48h hỗ trợ cài đặt</p>
                                        </li>
                                        <li>
                                            <p><i class="fas fa-check mr-2"></i> Bảo hành đổi trả trong 2 ngày</p>
                                        </li>

                                    </ul>

                                    <button class="btn btn-blue btn-rounded mb-3">Buy now</button>
                                </div>
                                <!--Features-->

                            </div>
                            <!--Pricing card-->

                        </div>
                        <!--Grid column-->
                    </div>
                    <!--Grid row-->

            </section>
            <!--Section: Pricing v.1-->

        </div>
    </div>
    <!-- BẢNG GIÁ BOXPHONE -->

</main>
<!-- Main layout -->
<!-- Footer -->
<footer class="page-footer footer-tiles text-center text-md-left  mt-0 mb-5">

    <div class="top-footer-color mt-2" style="background-color:#e70563">
        <div class="container">

            <!--Grid row-->
            <div class="row py-4 d-flex align-items-center">

                <!--Grid column-->
                <div class="col-md-6 col-lg-5 text-center text-md-left mb-md-0">
                    <h6 class="mb-0 white-text">Kết nối với BESTMOON qua các mạng xã hội khác!</h6>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-md-6 col-lg-7 text-center text-md-right">
                    <!--Facebook-->
                    <a class="p-2 m-2 fa-lg fb-ic ml-0" href="https://www.facebook.com/bestphonebox/">
                        <i class="fab fa-facebook-f white-text mr-lg-4"> </i>
                    </a>
                    <!--Twitter-->
                    <a class="p-2 m-2 fa-lg tw-ic" href="https://www.youtube.com/channel/UCARmOYl31zy9AKCLakdUxrQ">
                        <i class="fab fa-youtube white-text mr-lg-4"> </i>
                    </a>
                    <!--Google +-->
                    <a class="p-2 m-2 fa-lg " href="https://www.instagram.com/box_phone_farm_hcm/">
                        <i class="fa-brands fa-instagram mr-lg-4"> </i>
                    </a>
                    <!--Linkedin-->
                    <a class="p-2 m-2 fa-lg li-ic" href="https://x.com/Bestmoonvietnam">
                        <i class="fa-brands fa-x-twitter white-text mr-lg-4"> </i>
                    </a>

                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->
        </div>
    </div>

    <!-- Footer Links -->
    <div class="container mb-4 mt-4">

        <!-- First row -->
        <div class="row mt-2">

            <!-- First column -->
            <div class="col-xl-4 col-lg-4 pb-1 wow fadeIn" data-wow-delay="0.3s">

                <!-- About -->
                <h5 class="title mb-4"><strong>CAM KẾT VỀ DỊCH VỤ</strong></h5>

                <p>
                    Tại đây chúng tôi sẽ cung cấp cho bạn đầy đủ thông tin và những thứ có thể
                    giá ích cho việc kinh doanh online của bạn.
                </p>

                <p class="mb-1-half"> Đến với chúng tôi bạn sẽ không phải lo lắng về việc tiết kiệm chi phí và thời gian như thế nào</p>

                <!-- About -->
                <div class="footer-socials">

                    <!-- Facebook -->
                    <a type="button" href="https://www.facebook.com/bestphonebox/" class="btn-floating blue darken-3"><i class="fab fa-facebook-f"></i></a>

                    <!-- Dribbble -->
                    <a type="button" href="https://www.instagram.com/box_phone_farm_hcm/" class="btn-floating blue darken-3"><i class="fab fa-instagram"></i></a>

                    <!-- Twitter -->
                    <a type="button" href="https://www.youtube.com/channel/UCARmOYl31zy9AKCLakdUxrQ" class="btn-floating blue darken-3"><i class="fab fa-youtube"></i></a>

                    <!-- Pinterest -->
                    <a type="button" href="https://x.com/bestmoonvietnam" class="btn-floating blue darken-3"><i class="fa-brands fa-x-twitter"></i></a>

                    <!-- Linkedin -->
                </div>

            </div>

            <!-- First column -->
            <hr class="w-100 clearfix d-lg-none">

            <!-- Second column -->
            <div class="col-xl-4 col-lg-4 col-md-6 pt-1 pb-1 wow fadeIn" data-wow-delay="0.3s">

                <!-- Search -->
                <h5 class="text-uppercase mb-4"><strong>Tìm kiếm nhanh</strong></h5>

                <ul class="footer-search list-unstyled">

                    <li>

                        <form class="search-form" role="search">

                            <div class="md-form waves-light waves-effect waves-light">

                                <input type="text" class="form-control" placeholder="Search">

                            </div>

                        </form>

                    </li>

                </ul>

                <!-- Info -->
                <p><i class="fas fa-home mr-3"></i>183/72/2, Nguyễn Văn Khối Phường 8, Quận Gò Vấp, TP.HCM</p>

                <p><i class="fas fa-envelope mr-3"></i>bestmoon.offical@gmail.com</p>

                <p><i class="fas fa-phone mr-3"></i>0948 744 797</p>


            </div>

            <!-- Second column -->
            <hr class="w-100 clearfix d-md-none">

            <!-- First column -->

            <div class="col-xl-4 col-lg-4 col-md-6 pt-1 pb-1">

                <!-- Title -->
                <h5 class="text-uppercase mb-4 wow fadeIn text-center" data-wow-delay="0.3s">
                    <strong>Giờ mở cửa trực tiếp</strong>
                </h5>

                <!-- Opening hours table -->
                <table class="table wow fadeIn text-white" data-wow-delay="0.3s">

                    <tbody>

                        <tr>

                            <td>Thứ 2 - Thứ 6:</td>

                            <td>8:00 - 17:00</td>

                        </tr>

                        <tr>

                            <td>Thứ 7 - Chủ nhật:</td>

                            <td>8:00 - 15:00</td>

                        </tr>

                        <tr>

                            <td>Ngày lễ:</td>

                            <td>Không mở cửa</td>

                        </tr>

                    </tbody>

                </table>

            </div>

            <!-- First column -->

        </div>
        <!-- First row -->

    </div>
    <!-- Footer Links -->
    <!-- Scrollspy -->
    <div class="dotted-scrollspy clearfix d-none d-sm-block ">

        <ul class="nav smooth-scroll flex-column ">

            <li class="nav-item "><a class="nav-link " href="#home"><span></span></a></li>

            <li class="nav-item "><a class="nav-link" href="#about"><span></span></a></li>

            <li class="nav-item "><a class="nav-link" href="#login"><span></span></a></li>

            <li class="nav-item "><a class="nav-link" href="#ads"><span></span></a></li>

            <li class="nav-item "><a class="nav-link" href="#pricing"><span></span></a></li>


        </ul>

    </div>
    <!-- Copyright -->
    <div class="footer-copyright py-3 text-center">

        <div class="container-fluid">
            © 2024 Copyright: <a href="https://bestmoon.vn" target="_blank"> Bestmoon.vn </a>
        </div>

    </div>
    <!-- Copyright -->
</footer>
<!-- Footer --

@section Scripts {


    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }


}
